.footer{
    background-color: #000;
    color: #fff;
    display: flex;
    padding: 2rem 10rem;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    }
    .footer h2{
       transform: scale(1, 1.5);
    }
    .footer-content{
      display: flex;
    }
    .footer-content > div{
      margin: 0px 15px;
    }
    
    