* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#home-container {
  height: 100vh;
  color: #fff;
  background: url("./images/home-Bg.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#temp-details {
  display: flex;
  align-items: center;
  margin-left: 5rem;
 
}

#temp-details > div {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.city-time,
.temp,
.weather {
  margin: 0 0.1em;
}

.city-time h1 {
  margin: 0;
  font-size: 3em;
}

.city-time span {
  margin: 0px 2px;
  font-size: medium;
  font-weight: 200;
}

.temp {
  font-size: 7.6em;
}

.weather img {
  display: block;
  width:100px;
  height: 100px;
}
.weather .condition {
  margin: 0 1em;
}
.news-container{
  padding: 5rem 0rem;
}
.news-container h1 {
  text-align: center;
  font-size: 3rem;
  /* margin-top: 5rem; */
}
.news-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:1.5rem ;
  flex-wrap: wrap;
}
.news-card {
  width: 16rem;
  height: 20rem;
  margin: 15px;
  position: relative;
  
}
.news-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.news-card p{
  position: absolute;
  font-size: 1.4rem;
  color: #fff;
  bottom: 20px;
  left: 20px;
  padding: 0px 6px;
  font-weight: 500;
}

 .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.news-card:hover .content-overlay{
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  
}
.fadeIn-bottom{
  top: 80%;
}
.news-card:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.text{
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 8px 10px;
  color: #fff;
  width: 120px;
  margin: 0px auto;
}



/* responsive */
@media only screen and (max-width: 600px) {
  #home-container {
    align-items: center;
  }
  #details-box {
    margin: 0;
    width: 400px;
    align-self: center;
  }
  #temp-details {
    margin: 0;
    font-size: 0.8rem;
  }
  .footer{
    padding: 0px 2px;
  }
}
@media only screen and (max-width: 390px) {
  #details-box {
    width: 350px;
  }
  #temp-details {
    font-size: 0.5rem;
  }
}